*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: inherit; }

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

body, form, fieldset, legend, input, select, textarea, button {
  margin: 0; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio, canvas, progress, video {
  display: inline-block; }

progress {
  vertical-align: baseline; }

[hidden], template {
  display: none; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

body {
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem;
  color: #000;
  font-weight: 400;
  background: #fff; }

p {
  margin: 0 0 20px 0; }

a {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    color: #000;
    outline-width: 0;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  margin: 0; }

h1, .fs-1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 38px;
  line-height: 2.375rem; }

h2, .fs-2 {
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 32px;
  line-height: 2rem; }

h3, .fs-3 {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 28px;
  line-height: 1.75rem; }

h4, .fs-4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem; }

h5, .fs-5 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 22px;
  line-height: 1.375rem; }

h6, .fs-6 {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 20px;
  line-height: 1.25rem; }

h1 {
  margin-bottom: .5em;
  color: #000;
  font-weight: 700; }

h2 {
  margin-bottom: .2em;
  color: #000;
  font-weight: 700; }

h3 {
  margin-bottom: .2em;
  color: #000;
  font-weight: 700; }

h4 {
  margin-bottom: .2em;
  color: #000;
  font-weight: 700; }

h5 {
  margin-bottom: .1em;
  color: #000;
  font-weight: 700; }

h6 {
  margin-bottom: .1em;
  color: #000;
  font-weight: 700; }

b, strong, .strong {
  font-weight: 700; }

em, .em {
  font-style: italic; }

abbr[title], .abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

dfn {
  font-style: italic; }

small, .small {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 16px;
  line-height: 1rem; }

mark, .mark {
  background-color: #ff0;
  color: #000; }

sub, .sub, sup, .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub, .sub {
  bottom: -0.25em; }

sup, .sup {
  top: -0.5em; }

del, .del {
  text-decoration: line-through; }

figure {
  margin: 1em 40px; }

hr, .hr {
  box-sizing: content-box;
  height: 1px;
  background: #eee;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

ul, ol {
  margin: 20px 0;
  padding: 0 0 0 40px; }

dl:before, dl:after {
  content: " ";
  display: table; }

dl:after {
  clear: both; }

dl dt {
  float: left;
  width: 25%;
  display: block;
  font-weight: 400; }

dl dd {
  overflow: hidden;
  display: block; }

blockquote,
.blockquote {
  font-family: sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 20px 0; }
  blockquote p,
  .blockquote p {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 28px;
    line-height: 1.75rem;
    margin-bottom: 20px; }
  blockquote cite,
  .blockquote cite {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 19px;
    line-height: 1.1875rem;
    font-weight: 700;
    font-style: normal; }

caption {
  font-size: inherit;
  line-height: normal;
  font-weight: 700;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #d7d7d7; }

table {
  font-size: 14px;
  font-size: 0.875rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  text-align: left; }
  table thead td,
  table thead th,
  table tbody td,
  table tbody th,
  table tfoot td,
  table tfoot th {
    color: #585858;
    padding: 10px;
    border-bottom: 1px solid #e9e9e9; }

code, kbd, pre, samp {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 18px;
  line-height: 1.125rem;
  word-wrap: break-word;
  font-family: monospace, monospace;
  color: #000;
  background-color: transparent;
  font-weight: normal;
  padding: 0;
  white-space: pre-wrap; }

pre {
  padding: 10px;
  overflow: auto;
  border: 1px solid #d7d7d7; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

label,
button,
input,
optgroup,
select,
textarea {
  color: #000;
  font: inherit;
  margin: 0; }

[type="text"],
[type="email"],
[type="password"],
[type="tel"],
[type="number"],
[type="date"] {
  height: 36px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  border-radius: 0; }
  [type="text"]:focus,
  [type="email"]:focus,
  [type="password"]:focus,
  [type="tel"]:focus,
  [type="number"]:focus,
  [type="date"]:focus {
    background-color: #fff;
    border-color: #f7c723;
    outline: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  overflow: auto;
  border-radius: 0; }
  textarea:focus {
    background-color: #fff;
    border-color: #f7c723;
    outline: 0; }

select {
  text-transform: none;
  height: 36px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #ccc; }
  select:focus {
    background-color: #fff;
    border-color: #f7c723;
    outline: 0; }

optgroup {
  font-weight: 700; }

button {
  border-radius: 0;
  overflow: visible;
  text-transform: none;
  cursor: pointer; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  border-radius: 0; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

button[disabled],
html input[disabled] {
  cursor: not-allowed; }

input::-webkit-input-placeholder {
  color: #999; }

input:-moz-placeholder {
  color: #999; }

input::-moz-placeholder {
  color: #999; }

input:-ms-input-placeholder {
  color: #999; }
